<div class="center jumbotron">
  <h1>Welcome to Rugby</h1>

  <h2>
    A SCRUM app for your remote teams
  </h2>
  <% if logged_in? == false %>
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  <% end %>

</div>