<h1 class="center">Listing Users</h1>
 

<% @users.each do |user| %>
  <h4><%= user.name %></h3>
  <ul class="list-unstyled">
    <li><strong>Email: </strong><%= user.email %></li>
    <li><strong>Team: </strong><%= user.team %></li>
    <li><strong>ID: </strong><%= user.id %></li>
  </ul>
<% end %>